/* Base styles for larger screens */
.restaurant-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.restaurant-name {
  font-size: 24px;
}

.restaurant-image {
  width: 100%;
  max-width: 600px;
  height: 500px;
}

.restaurant-info {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  height: auto; /* Adjusted height for better balance */
}

.cafe-name {
  font-size: 18px;
}

.cafe-address {
  font-size: 14px;
}

.cafe-rating {
  font-size: 16px;
}

.cafe-description {
  font-size: 16px;
}

/* Media query for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
  .restaurant-image {
    max-width: 400px;
  }

  .restaurant-info {
    max-width: 400px;
  }
}

/* Media query for even smaller screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .restaurant-image {
    max-width: 300px;
  }

  .restaurant-info {
    max-width: 300px;
    padding: 5px; /* Further adjustments for smaller screens */
  }

  .restaurant-name {
    font-size: 20px;
  }

  .cafe-name {
    font-size: 16px;
  }

  .cafe-address {
    font-size: 12px;
  }

  .cafe-rating {
    font-size: 14px;
  }

  .cafe-description {
    font-size: 14px;
  }
}
